Source: wmstickynotes
Section: unknown
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.6
Homepage: http://sourceforge.net/projects/wmstickynotes/
Vcs-Git: https://github.com/d-torrance/wmstickynotes.git
Vcs-Browser: https://github.com/d-torrance/wmstickynotes

Package: wmstickynotes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Window Maker dockapp to create sticky notes on desktop
 This program is a Window Maker style dockapp which allows you to create note
 windows.  By default, the notes, along with their position, size, and color,
 are stored in files and will be restored when wmstickynotes is run again.
